modules = ["cpp"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "All Servers"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Main Server"

[[workflows.workflow]]
name = "All Servers"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash -c \"chmod +x ./start_servers.sh && ./start_servers.sh\""

[[workflows.workflow]]
name = "Main Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./serverM"

[deployment]
run = ["sh", "-c", "make all && ./start_servers.sh"]

[[ports]]
localPort = 45000
externalPort = 80
